<h1 class="text-center">Bienvenue, <%= @user.first_name %> sur EventBriteProject!</h1>

<p class="text-center">Félicitations ! Vous m'avez trouvé. Vous gagnez 10% de réduction sur votre prochain évént.</p>
