<div class="container">
  <h1 class="text-center mb-4">Manage Events</h1>
  
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-md-4 mb-4">
        <%= render 'admin/events/event', event: event %>
      </div>
    <% end %>
  </div>

  <div class="text-center">
    <a href="/admin/dashboard" class="btn btn-primary">Admin Dashboard</a>
  </div>
</div>

